head{
  <title>My Page Title</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
}
body {
background-color:#FFE5B4;
font-family:cursive;
font-size:200%;
border:50px solid powderblue;
padding:100px;
margin:50px;
text-align:center;

}

h1{
 color:#00539C;
font:20px;
}
button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:Hover span {
  padding-right: 25px;
}

button:Hover span:after {
  opacity: 1;
  right: 0;
}
